[submodule "src/main/kotlin/github-discussion-api"]
	path = src/main/kotlin/github-discussion-api
	url = https://github.com/l1ving/github-discussion-api.git

[submodule "src/main/kotlin/cape-api"]
	path = src/main/kotlin/cape-api
	url = https://github.com/kami-blue/cape-api.git